.statItemTable {
    border-collapse: collapse;
}

.statItemTable th,
.statItemTable td {
    padding: 5px;
    border: 1px solid #ccc;
}

.statItemTable .name {
    font-weight: bold;
    text-align: left;
}

.statItemTable {
    text-align: right;
}

 .percentile75.green {
    background-color: green;
    color: white
}

.percentile75.red {
    background-color: red;
    color: white
}

.percentile75.amber {
    background-color: orange;
}
